In [ ]:
import pandas as pd

df = pd.read_csv("house_prices.csv")

df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB

In [6]:
df.isna().sum().sort_values(ascending=False)

Plot Area            187531
Dimensions           187531
Society              109678
Super Area           107685
Car Parking          103357
overlooking           81436
Carpet Area           80673
facing                70233
Ownership             65517
Balcony               48935
Price (in rupees)     17665
Floor                  7077
Description            3023
Furnishing             2897
Bathroom                828
Status                  615
Transaction              83
Amount(in rupees)         0
Title                     0
Index                     0
location                  0
dtype: int64

In [13]:
pd.set_option('display.max_rows', 10)   
pd.set_option('display.max_columns', 10)

print(df["Society"].value_counts())

Society
Hamdam Apartment           1648
Malibu Town                1158
Shree Vardhman Victoria    1154
DLF Skycourt               1153
Nebula Tower                982
                           ...
Kumar Princeville             1
Nyati Equatorial              1
Sentosa Serene                1
Shubhankar Durvaa             1
Dreams Estate                 1
Name: count, Length: 10376, dtype: int64

In [14]:
df["Society"] = df["Society"].fillna("SinSociedad")

In [18]:
df = df.drop(columns=["Plot Area","Dimensions"])

In [19]:
df.isna().sum().sort_values(ascending=False)

Super Area           107685
Car Parking          103357
overlooking           81436
Carpet Area           80673
facing                70233
                      ...
Index                     0
Title                     0
location                  0
Amount(in rupees)         0
Society                   0
Length: 19, dtype: int64

In [ ]:
pd.set_option('display.max_rows', 5)   
pd.set_option('display.max_columns', 5)
print(df["Car Parking"].value_counts())

Car Parking
1 Covered       38754
1 Covered,      16991
2 Covered       10691
1 Open           7873
2 Covered,       3978
2 Open           2589
10 Open           846
34 Covered        573
3 Covered         408
402 Covered       318
8 Covered         206
3 Covered,        140
4 Covered         116
3 Open             37
5 Covered          35
4 Covered,         29
4 Open             27
15 Covered         24
6 Covered          24
5 Open             24
12 Covered         22
10 Covered         21
7 Covered          12
5 Covered,         12
20 Covered         10
6 Covered,         10
101 Covered         8
50 Open             8
203 Covered         8
8 Open              8
201 Covered         8
103 Covered         8
401 Covered         7
301 Covered         7
302 Covered         6
9 Covered           6
100 Open            6
6 Open              6
20 Open             5
30 Covered          5
303 Covered         5
202 Covered         5
100 Covered         5
11 Covered          5
35 Open             5
200 Open            5
7 Covered,          4
505 Covered         4
123 Covered         4
180 Covered         4
601 Covered         4
10 Covered,         4
503 Open            4
300 Open            4
102 Covered         3
305 Covered         3
15 Covered,         3
408 Covered         3
27 Covered,         3
45 Covered          3
111 Covered         3
12 Open             3
9 Covered,          3
204 Covered         3
23 Covered          3
14 Covered          3
15 Open             3
701 Covered         3
103 Open            3
50 Covered          3
32 Open             3
80 Covered          3
507 Covered         2
703 Covered         2
605 Covered         2
801 Covered         2
13 Covered          2
16 Covered          2
23 Open             2
123 Open            2
118 Covered         2
9 Open              2
30 Open             2
102 Open            2
16 Covered,         2
25 Covered          2
411 Covered         2
17 Covered          2
12 Covered,         2
66 Covered          2
509 Covered,        2
323 Covered         2
14 Open             2
54 Covered          2
33 Covered          2
24 Covered          2
500 Open            2
502 Covered         2
112 Covered         2
107 Covered         2
306 Covered         2
101 Open            2
13 Open             2
70 Open             2
110 Open            2
404 Covered         2
416 Covered         2
218 Covered         1
406 Open            1
604 Covered         1
53 Open             1
403 Open            1
89 Open             1
903 Covered         1
87 Covered          1
704 Covered         1
501 Covered         1
442 Covered         1
313 Covered         1
147 Covered         1
310 Covered         1
20 Covered,         1
202 Open            1
201 Covered,        1
706 Covered         1
250 Covered         1
120 Covered         1
11 Open             1
255 Covered         1
217 Covered         1
621 Covered         1
309 Covered         1
536 Covered         1
324 Covered         1
413 Covered         1
76 Covered          1
129 Open            1
30 Covered,         1
39 Covered          1
8 Covered,          1
256 Covered         1
51 Covered          1
818 Open            1
701 Open            1
151 Open            1
804 Open            1
40 Open             1
205 Open            1
40 Covered          1
78 Covered          1
428 Covered         1
259 Covered         1
212 Open            1
31 Open             1
210 Open            1
22 Covered          1
118 Open            1
253 Covered         1
571 Open            1
42 Covered          1
999 Covered         1
999 Open            1
113 Open            1
21 Covered,         1
300 Covered         1
60 Open             1
835 Covered         1
17 Open             1
156 Covered         1
18 Covered          1
222 Covered         1
221 Open            1
204 Open            1
215 Covered         1
109 Covered         1
653 Open            1
504 Open            1
45 Open             1
47 Open             1
67 Open             1
22 Open             1
129 Covered         1
234 Covered         1
506 Covered         1
510 Covered         1
420 Covered         1
59 Covered          1
901 Covered         1
506 Open            1
90 Covered,         1
21 Covered          1
808 Open            1
908 Covered         1
52 Open             1
98 Covered          1
23 Covered,         1
13 Covered,         1
702 Covered         1
211 Covered         1
18 Open             1
196 Open            1
604 Open            1
60 Covered          1
38 Covered          1
302 Open            1
35 Covered          1
35 Covered,         1
406 Covered         1
24 Open             1
305 Open            1
233 Open            1
174 Open            1
40 Covered,         1
503 Covered         1
125 Open            1
108 Covered         1
48 Covered          1
7 Open              1
303 Open            1
110 Covered         1
31 Covered          1
207 Covered         1
304 Covered         1
104 Covered         1
206 Covered         1
205 Covered         1
11 Covered,         1
403 Covered         1
702 Open            1
Name: count, dtype: int64

In [33]:
df[["Parking_Count", "Parking_Type"]] = df["Car Parking"].str.split(pat=" ", n=1, expand=True)
df["Parking_Type"] = df["Parking_Type"].str.replace(",","", regex=False)

In [34]:
print(df["Parking_Type"].value_counts())

Parking_Type
Covered    72648
Open       11526
Name: count, dtype: int64

In [41]:
df["Parking_Count"].value_counts()

Parking_Count
1      63618
2      17258
10       871
3        585
34       573
402      318
8        215
4        172
5         71
6         40
15        30
12        27
7         17
20        16
103       11
50        11
9         11
100       11
101       10
201        9
203        8
30         8
301        7
302        7
401        7
11         7
35         7
123        6
23         6
303        6
202        6
102        5
200        5
13         5
14         5
503        5
300        5
305        4
45         4
505        4
180        4
701        4
204        4
601        4
16         4
27         3
408        3
40         3
118        3
17         3
32         3
110        3
80         3
111        3
24         3
66         2
509        2
323        2
406        2
502        2
25         2
605        2
801        2
205        2
21         2
411        2
22         2
703        2
416        2
404        2
31         2
60         2
18         2
702        2
70         2
506        2
507        2
604        2
500        2
33         2
54         2
403        2
999        2
129        2
306        2
112        2
107        2
89         1
309        1
621        1
53         1
255        1
259        1
212        1
51         1
253        1
571        1
42         1
818        1
113        1
218        1
903        1
704        1
39         1
413        1
76         1
324        1
87         1
250        1
120        1
706        1
442        1
147        1
501        1
310        1
313        1
536        1
217        1
151        1
804        1
210        1
47         1
256        1
428        1
156        1
835        1
221        1
222        1
653        1
215        1
109        1
504        1
78         1
67         1
808        1
234        1
908        1
98         1
510        1
52         1
196        1
90         1
38         1
420        1
59         1
901        1
174        1
211        1
108        1
48         1
233        1
125        1
304        1
207        1
206        1
104        1
Name: count, dtype: int64

In [45]:
import numpy as np
df["Parking_Count"] = pd.to_numeric(df["Parking_Count"])
df.loc[df["Parking_Count"] > 6, "Parking_Count"] = np.nan

In [46]:
df["Parking_Count"].value_counts()

Parking_Count
1.0    63618
2.0    17258
3.0      585
4.0      172
5.0       71
6.0       40
Name: count, dtype: int64

In [48]:
df["Parking_Count"] = df["Parking_Count"].fillna(0)

In [ ]:
df["Parking_Count"].value_counts()

Parking_Count
0.0    105787
1.0     63618
2.0     17258
3.0       585
4.0       172
5.0        71
6.0        40
Name: count, dtype: int64

In [52]:
df["Parking_Type"].value_counts()
df["Parking_Type"] = df["Parking_Type"].fillna("SinParquedero")

In [53]:
df["Parking_Type"].value_counts()

Parking_Type
SinParquedero    103357
Covered           72648
Open              11526
Name: count, dtype: int64

In [55]:

df = df.drop(columns=["Car Parking"])

In [56]:
df.isna().sum().sort_values(ascending=False)

Super Area           107685
overlooking           81436
Carpet Area           80673
facing                70233
Ownership             65517
Balcony               48935
Price (in rupees)     17665
Floor                  7077
Description            3023
Furnishing             2897
Bathroom                828
Status                  615
Transaction              83
Amount(in rupees)         0
Index                     0
Title                     0
location                  0
Society                   0
Parking_Count             0
Parking_Type              0
dtype: int64