In [69]:
import pandas as pd
import os

df = pd.read_csv("Titanic-Dataset.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [70]:
df["Sex"].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [71]:
df["Cabin"].value_counts()

Cabin
G6             4
C23 C25 C27    4
B96 B98        4
F2             3
D              3
              ..
E17            1
A24            1
C50            1
B42            1
C148           1
Name: count, Length: 147, dtype: int64

In [72]:
df["Cabin"].isnull().sum()

np.int64(687)

In [73]:
columnas_numericas = ["Age","Fare","SibSp","Parch","Pclass","Survived"]

In [74]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [75]:
df = df.drop(columns=["Name"])

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [77]:
columnas_object = ["Sex","Ticket","Cabin","Embarked"]
columnas_object2 = df.select_dtypes(include=["object"]).columns

print(columnas_object)
print(columnas_object2)

['Sex', 'Ticket', 'Cabin', 'Embarked']
Index(['Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [78]:
import sklearn
print(sklearn.__version__)

1.6.1

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

for col in columnas_object2:
    df[col] = df[col].astype(str)
    df[col] = encoder.fit_transform(df[col])

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    int64
 8   Fare         891 non-null    float64
 9   Cabin        891 non-null    int64
 10  Embarked     891 non-null    int64
dtypes: float64(2), int64(9)
memory usage: 76.7 KB

In [81]:
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,1,22.0,1,0,523,7.2500,147,2
1,2,1,1,0,38.0,1,0,596,71.2833,81,0
2,3,1,3,0,26.0,0,0,669,7.9250,147,2
3,4,1,1,0,35.0,1,0,49,53.1000,55,2
4,5,0,3,1,35.0,0,0,472,8.0500,147,2

In [82]:
df["Sex"].value_counts()

Sex
1    577
0    314
Name: count, dtype: int64

In [84]:
df["Cabin"].value_counts()

Cabin
147    687
145      4
63       4
47       4
141      3
      ...
119      1
6        1
70       1
30       1
60       1
Name: count, Length: 148, dtype: int64

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    int64
 8   Fare         891 non-null    float64
 9   Cabin        891 non-null    int64
 10  Embarked     891 non-null    int64
dtypes: float64(2), int64(9)
memory usage: 76.7 KB