In [ ]:
!pip install pandas

In [2]:
import pandas as pd
print(pd.__version__)

2.2.3

In [ ]:
import pandas as pd

# Cargar el archivo
df = pd.read_csv('personas.csv', sep=';')

#ver las primeras filas
print(df.head())

   Nombre  Edad     Ciudad  Unnamed: 3
0    Juan    26     Ibague         NaN
1   Pedro    56  Monterrey         NaN
2  Camilo    15     Bogota         NaN

In [ ]:
#ver las primeras filas
df.head()

   Nombre  Edad     Ciudad  Unnamed: 3
0    Juan    26     Ibague         NaN
1   Pedro    56  Monterrey         NaN
2  Camilo    15     Bogota         NaN

In [11]:
#Filtrar personas Mayores de 25 aÃ±os
mayores = df[df['Edad'] > 25]
print(mayores)

  Nombre  Edad     Ciudad  Unnamed: 3
0   Juan    26     Ibague         NaN
1  Pedro    56  Monterrey         NaN

In [ ]:
# Calcular la edad promedio
promedio = df['Edad'].mean()
print(f"Edad promedio: {promedio}")

Edad promedio: 32.333333333333336

In [18]:
df_limpio = df.drop("Unnamed: 3", axis= 1)
df_limpio

   Nombre  Edad     Ciudad
0    Juan    26     Ibague
1   Pedro    56  Monterrey
2  Camilo    15     Bogota